language: node_js

node_js:
  - "stable"

cache:
  directories:
    - node_modules
env:
  global:
    CC_TEST_REPORTER_ID=$repo_token

install:
  - yarn install

script:
  - yarn add coveralls
  - yarn test

before_script:
  - yarn
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter

after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT

after_success:
  - coveralls
